
*.pyc
cntrl.txt
ids.txt
kick.txt
log.txt
demo/count_domain_ctrl.txt
demo/count_heads_ctrl.txt
demo/csv_add_pcmid_ctrl.txt
demo/csv_rem_html_ctrl.txt
demo/get_count_ctrl.txt
demo/get_empty_files_ctrl.txt
demo/get_error_ctrl.txt
demo/get_error_mp_ctrl.txt
demo/get_from_pmcid_ctrl.txt
demo/get_from_pmcid_mp_ctrl.txt
demo/get_pdf_json_ctrl.txt
demo/get_pdf_json_mp_ctrl.txt
demo/get_pmcid_csv_ctrl.txt
demo/get_pmedid_csv_ctrl.txt
demo/idspmc.txt
demo/out.txt
demo/partition_jsons_ctrl.txt
demo/Pool_ctrl.txt
demo/Poolctrl.txt
demo/rem_pmcid_ctrl.txt
demo/run_id_ruby_ctrl.txt
demo/run_id_ruby_mp_ctrl.txt
demo/run_json_folder_ctrl.txt
demo/run_partition_folders_ctrl.txt
demo/sort_inacessable_csv_ctrl.txt
demo/sort_nonretrievable_ctrl.txt
demo/sort_url_ctrl.txt
demo/sort_url_mp_ctrl.txt
demo/xls_rem_html_ctrl.txt
